#the course book
Course_Book.pdf

#the Virtual Machine for writing code
*.ova

#Files for submission
*.zip

Lecture_Slides/
Assignment_4/Assignment4_revised.pdf
Assignment_4/main
Assignment_4/t
Assignment_4/test.cpp
